.user-list__table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.user-list__table td, .user-list__table th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.user-list__table tr:nth-child(even){background-color: #f2f2f2;}
  
.user-list__table tr:hover {background-color: #ddd;}
  
.user-list__table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: Gray;
    color: white;
  }